html,
body {
  width: 100%;
  height: 100%;
}
table {
  height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
td {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  width: 22px;
  height: 22px;
  border: 1px solid gray;
  border-radius: 20%;
}

tr {
  background-color: rgb(0, 190, 165);
  text-align: center;
  font-weight: 600;
  color: white;
}
#tableTbody {
  display: none;
  padding: 20px;
  background-color: rgb(255, 107, 156);
  border-radius: 7%;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
#btnTbody {
  display: none;
  position: relative;
  top: -17px;
  cursor: pointer;
}
#btn {
  width: 50px;
  border-radius: 10%;
  background-color: rgb(255, 107, 156);
}
